$primary: #FFC529;
$primary-hover: #2963ff;
$second: #FE724C;
$second-hover: #4cd8fe;
$back: #272D2F;
$info: #D7D7D7;
$border: #D7D7D7;

$primary-height: 16px;
$radius: 5px;
$padding: 16px;
$margin: 16px;
$title-size: 28px;
$describe-size: 24px;
$normal-size: 16px;
$bold: 600;